{% extends "base.html" %}

{% block content %}

<h2>About</h2>
<p>A minimal python application for use while learning all about modern platform engineering, site
    reliabililty and infrastructure as code.</p>

<h2>Debug Info</h2>
<ul class="debug-info">
    <li><strong>APP_ENV:</strong> {{ app_env }}</li>
    <li><strong>APP_HOST:</strong> {{ app_host }}</li>
    <li><strong>APP_PORT:</strong> {{ app_port }}</li>
    <li><strong>DEBUG:</strong> {{ debug }}</li>
    <li><strong>DATABASE_TYPE:</strong> {{ database_type }}</li>
    <li><strong>DATABASE_URL:</strong> {{ database_url }}</li>
    <li><strong>DATABASE_PATH:</strong> {{ database_path }}</li>
    <li><strong>DATABASE_HOST:</strong> {{ database_host }}</li>
    <li><strong>DATABASE_PORT:</strong> {{ database_port }}</li>
    <li><strong>DATABASE_NAME:</strong> {{ database_name }}</li>
    <li><strong>DATABASE_USER:</strong> {{ database_user }}</li>
    <li><strong>DATABASE_PASSWORD:</strong> {{ database_password }}</li>
</ul>

{% endblock %}
